Source: webtree
Section: utils
Priority: optional
Maintainer: sandylaw <freelxs@gmail.com>
Build-Depends: debhelper (>= 11)
Standards-Version: 4.1.3
Homepage: https://www.v2less.com 

Package: webtree
Architecture: all
Depends: ${misc:Depends}, wget, bash,
Description: webtree
 list contents of http/ftp directories in a tree-like format.
